<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="util.listeners.TestListener"/>
        <listener class-name="util.listeners.AnnotationTransformer"/>
    </listeners>
<!--    <parameter name="browserType" value="chrome"></parameter>
    <parameter name="appUrl" value="https://jpetstore.aspectran.com/catalog/"></parameter> -->

    <test name="PetStore tests">
        <classes>
            <class name="petStore.CreateAccountTest"/>
        </classes>
    </test>
</suite>